<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="baseUrl" content="{{ absoluteUrl() }}">
    <title>StarAdminDashboard Starter</title>
    {{ css('css/style') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
</head>
<body>

    <main id="app"></main>
    
    {{ script('js/staradmin') }}
    {{ script('js/app') }}
</body>
</html>